name: verify

on:  
  workflow_call:
    inputs:
      verify_subcommand:
        required: true
        type: string

jobs:
  verify:
    runs-on: ubuntu-latest
    container: gcc:15.2.0-bookworm
    steps:
    - uses: actions/checkout@v6
      with:
        path: main
        fetch-depth: 0

    - name: Install pipx
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends pipx
        pipx ensurepath

    - name: Install oj-verify
      run: pipx install git+https://github.com/Joe75792433/verification-helper

    - name: Clone AC-Library
      uses: actions/checkout@v6
      with:
        repository: atcoder/ac-library
        path: ac-library
        sparse-checkout: atcoder

    - name: Run tests
      working-directory: main
      env:
        CPLUS_INCLUDE_PATH: ${{ github.workspace }}/ac-library
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        YUKICODER_TOKEN: ${{ secrets.YUKICODER_TOKEN }}
        GH_PAT: ${{ secrets.GH_PAT }}
      run: oj-verify ${{ inputs.verify_subcommand }}