name: verify

on:  
  workflow_call:
    inputs:
      verify_subcommand:
        required: true
        type: string

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
    - name: Switch default g++ to version 14
      run: sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 100

    - uses: actions/checkout@v6
      with:
        path: main
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11.2

    - name: Install dependencies
      run: pip3 install -U git+https://github.com/Joe75792433/verification-helper.git

    - name: Clone AC-Library
      uses: actions/checkout@v6
      with:
        repository: atcoder/ac-library
        path: ac-library
        sparse-checkout: atcoder

    - name: Run tests
      working-directory: main
      env:
        CPLUS_INCLUDE_PATH: ${{ github.workspace }}/ac-library
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        YUKICODER_TOKEN: ${{ secrets.YUKICODER_TOKEN }}
        GH_PAT: ${{ secrets.GH_PAT }}
      run: oj-verify ${{ inputs.verify_subcommand }}